    body {
		background-image: url("images/ricepapertexture_by_maplerose.jpg");
		margin:5%; 
		text-align:justify;
		font-family: "Georgia";
		}
		
	p::first-letter{
		text-transform: uppercase;
	}
		
    P { 
	font-family: "Georgia"
	text-indent: 2em; 
	margin-top: 1em; 
	margin-bottom: .25em; 
	text-align: justify;
	text-indent: 1em;
	}

	
	H1 {
		font-size: 3.5em;
		font-style: italic;
		text-align: center; 
		font-family: "Georgia";
	margin-left: 15%; 
	margin-right: 15%; 
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background: white;
	}
	
	H2 {
	text-align: center; 
	margin-left: 15%; 
	margin-right: 15%; 
	font-family: "Georgia";
	font-variant: small-caps;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background: white;
	}
	
	img {
		border: 3px solid black;
		border-radius: 80px;
	}
	
    H3,H4,H5,H6
	{ text-align: center; 
	margin-left: 15%; 
	margin-right: 15%; 
	font-family: "Georgia";
	font-variant: small-caps;
	border: 1px solid black;
	background: white;
	}
	
    hr  {
	width: 50%; 
	text-align:
	center;}
	
	.center_caption
	{
		border: 3px solid black;
		text-align: center;
		border-radius: 80px;
	}
	
    .foot 
	{ margin-left: 20%; 
	margin-right: 20%; 
	text-align: justify; 
	text-indent: -3em; 
	font-size: 90%; 
	}
	
    blockquote {
		font-size: 97%; 
		font-style: italic; 
		margin-left: 10%; 
		margin-right: 10%;
		}
		
    .mynote    {
		background-color: #DDE; 
		color: #000; 
		padding: .5em; 
		margin-left: 10%; 
		margin-right: 10%; 
		font-family: sans-serif; 
		font-size: 95%;
		}
    .toc { 
		margin-left: 10%; 
		margin-bottom: .75em;
		}
		
    .toc2      { 
		margin-left: 20%;
		}
		
    .fig { 
		display:block; 
		margin:0 auto;
		text-align:center; 
		}
		
    .figleft   {
		float: left; 
		margin-left: 0%; 
		margin-right: 1%;
		}
		
    .figright  {
		float: right; 
		margin-right: 0%; 
		margin-left: 1%;
		}
		
    pre     { 
		font-style: italic; 
		font-size: 90%; 
		margin-left: 10%;}
